/* nav {
    background-color: #243A78;
} */

nav a img {
    max-height: 10vh;
}

.header {
    height: 85vh;
    background-image: linear-gradient( to right bottom,
    rgba(100, 100, 100, 0.8),
    rgba(100, 100, 100, 0.8)),
    url("../img/dunderBuilding.jpg");
    background-size: cover;
    background-position: top;
    background-position: center;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.header__content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: white;
    text-shadow: 3px 3px #000000;
    text-align: center;
}

.about h1 {
    text-align: center;
    color: blue;
}

.about .row div {
    margin-top: 10vh;
}

iframe {
    float: right;
    margin-top: 5%;
}



#staff img {
    width: 150px;
    height: 225px;
    /* border-radius: 50%; */
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s ease;
}

/* #staff img:hover {
    transform: scale(1.5, 1.5);
} */

#staff * {
    text-align: center;
 }

 /* #staff p {
    text-transform: uppercase;
    white-space: nowrap;
 } */
